:root {
    --green: #00FF00;
    --white: #FFFFFF;
    --black: #000000;
}

* {
    color: var(--fontColor);
    font-family: helvetica;
}

body {
    /*background: var(--bg);*/
    /*background-image: url(./pixelDay/morning.png);*/
    /*background-image: var(--bgi);*/
    /*animation: slide 60s linear infinite;*/
    background: var(--bgi);
    animation: slide 60s linear infinite;
}

ul {
    font-family: helvetica;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}

.light-theme {
    /*--bg: var(--green);*/
    --bgi: url(./pixelDay/morning.png);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}

.dark-theme {
    /*--bg: var(--black);*/
    --bgi: url(./pixelDay/night.png);
    --fontColor: var(--green);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
}

.btn {
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

.btn:focus {
    outline-style: 'none';
}

.container {
    overflow: hidden;
}

.sliding-background {
    background-image: url(./pixelDay/morning.png) repeat-x;
    /*height: 1920px;
    width: 5760px;*/
    animation: slide 60s linear infinite;
}

@keyframes slide {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -1920px 0;
    }
}