:root {
    --green: #00FF00;
    --white: #FFFFFF;
    --black: #000000;
}

* {
    color: var(--fontColor);
    font-family: helvetica;
}

body {
    /*background: var(--bg);*/
    /*background-image: url(./pixelDay/morning.png);*/
    /*background-image: var(--bgi);*/
    /*animation: slide 60s linear infinite;*/
    background: var(--bgi);
    animation: slide 60s linear infinite;
}

ul {
    font-family: helvetica;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}

.dawn {
    --bgi: url(./pixelDay/dawn.png);
    --fontColor: var(--black);
}

.early-morning {
    --bgi: url(./pixelDay/early-morning.png);
    --fontColor: var(--black);
}

.morning {
    --bgi: url(./pixelDay/morning.png);
    --fontColor: var(--black);
}

.afternoon {
    --bgi: url(./pixelDay/afternoon.png);
    --fontColor: var(--black);
}

.evening {
    --bgi: url(./pixelDay/evening.png);
    --fontColor: var(--black);
}

.dusk {
    --bgi: url(./pixelDay/dusk.png);
    --fontColor: var(--black);
}

.midnight {
    --bgi: url(./pixelDay/midnight.png);
    --fontColor: var(--black);
}

.night {
    --bgi: url(./pixelDay/night.png);
    --fontColor: var(--black);
}

/*.light-theme {
    --bgi: url(./pixelDay/morning.png);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}

.dark-theme {
    --bgi: url(./pixelDay/night.png);
    --fontColor: var(--green);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
}*/

.btn {
    position: absolute;
    top: 80px;
    left: 50px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

.btn:focus {
    outline-style: 'none';
}

#table {
    position: absolute;
    width: 99%;
    border: 0;
    /*left: 8%;*/
}

#logo {
    width: 48px;
    height: 48px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#tal {
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    position: absolute;
    top: 10%;
    left: 16%;
}

#blackbar {
    position: absolute;
    top: 60px;
}

#twitchLink {
    position: absolute;
    text-align: center;
    top: 80px;
    left: 600px;
    text-decoration: none;
}

@keyframes slide {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -1920px 0;
    }
}

/* #twitchlogo {
    width: 48px;
    height: 48px;
    /*position: absolute;
    left: 47%;*/
    /*display: block;
    margin-left: auto;
    margin-right: auto;
}

#youtubelogo {
    width: 48px;
    height: 48px;
    position: absolute;
    left: 30%;
    padding: 0px;
}

#twitterlogo {
    width: 48px;
    height: 48px;
}

#tiktoklogo {
    width: 48px;
    height: 48px;
}

#githublogo {
    width: 48px;
    height: 48px;
}*/