/* MAIN SECTION CSS */

:root {
    --green: #00FF00;
    --white: #FFFFFF;
    --black: #000000;
}

* {
    color: var(--fontColor);
    font-family: Arial, Helvetica, sans-serif;
}

body {
    /* background-image: var(--bgi); */
    animation: slide 60s linear infinite;
}

ul {
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style: disc;
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    padding-left: 10px;
}

.list {
    list-style: square;
}

#logosTable {
    position: absolute;
    width: 99%;
}

#logo {
    width: 36px;
    height: 36px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#linksTable {
    position: absolute;
    top: 28%;
    /*left: 15%;*/
    width: 100%;
}

#link {
    text-align: center;
    width: 75px;
}

#font {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: bold;
}

#tal {
    /* width: 360px;
    height: 202.5px; */
    text-align: center;
}

#talIMG {
    width: 360px;
    height: 202.5px;
    position: relative;
    top: 50px;
}

#blackbar {
    position: absolute;
    top: 50px;
    width: 98%;
}

@keyframes slide {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -1920px 0;
    }
}

/* PROJECT SECTION */

.project {
    background-color: #f3f0ea;
    width: 95%;
    height: 500px;
    max-height: 500px;
    overflow-y: scroll;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Courier New', Courier, monospace;
}

.project::-webkit-scrollbar {
    display: none;
}

#projectBlock {
    width: 50%;
}

.talLogo {
    background-image: url(./talmerak.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 249px;
    height: 140px;
    position: relative;
    top: -45px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*border: solid 5px black;*/
}

#projectTable {
    width: 100%;
}

#projectHeader {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}


/* VIDEO SECTION */

#videoTable {
    width: 100%;
}

#video {
    text-align: center;
    height: auto;
}

#vid {
    width: 178px;
    height: 100px;
}

/* STREAM SECTION */
#twitch-embed {
    text-align: center;
    height: 160px;
}